.info-head{
  text-align: center;
  justify-content: center;
}
.map {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 5px;
  width: 75%;
  zoom: 0.75;
  height: 800px;
  overflow: hidden;
}
#mcMap{
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-2px) translateY(-2px);
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 865px) {
  .info {
    width: 90% !important;
  }
  .map {
    width: 95%;
  }
}
