<main class="info">
  <div>
    <mat-card fxFlex="50">
      <mat-toolbar color="accent" style="border-radius: 10px">
        Panel Logowania
      </mat-toolbar><br><br/>
      <form fxLayoutAlign="stretch" fxLayout="column">
          <mat-form-field [color]>
            <input matInput placeholder="Nazwa użytkownika">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Hasło">
          </mat-form-field><br><br>
          <button mat-raised-button color="accent" type="submit">Zaloguj</button>
        </form>
    </mat-card>
  </div>
</main>
