<main class="info">
  <div class="info-head">
    <h1>Regulamin serwera Catze.pl</h1>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4><h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>
    <h4>Regulamin Minecraft</h4>

  </div>
</main>
