<main class="info">
  <div class="info-head">
    <h1>Regulamin serwera Catze.pl</h1>
    <h2><b>Regulamin Minecraft</b></h2>
    <p>Wkrótce...</p>
    <br>
    <h2><b>Regulamin Discord</b></h2>
    <p>
      <b>1.</b> Na serwerze jest zakaz spamu.<br/>
      <b>2.</b> Na serwerze obowiązuje zakaz wyzwisk, a także żartów na podłożu politycznym, religijnym oraz rasowym.<br/>
      <b>3.</b> Niedozwolona jest reklama innych serwerów oraz stron bez zgody administracji.<br/>
      <b>4.</b> Wyłudzanie wrażliwych danych od innych osób jest surowo zabronione.<br/>
      <b>5.</b> Należy stosować się właściwych postaw samozachowawczych, a także należy wykazywać się odpowiednią kulturą osobistą.<br/>
      <b>6.</b> Wszelkie działania na niekorzyść serwera, jego funkcjonowania, bądź też opinii będzie karana.<br/>
      <b>7.</b> Wszystkie błędy, nieodpowiednie zachowania innych użytkowników należy zgłaszać administracji.<br/>
      <b>8.</b> Handel przedmiotami, kontami, rzeczami w grach jest zakazany. (Jedynie za zgodą administracji)<br/>
      <b>9.</b> Tworzenie multikont po otrzymaniu permanentnej blokady swojego innego konta jest zabroniony.<br/>
      <b>10.</b> Wysyłanie pornografii, wrażliwych danych lub zdjęć innych osób bez zezwolenia jest surowo zakazany.<br/>
      <b>11.</b> Wykorzystywanie botów, cheatów, bądź hackowanie innych osób w celach niszczenia serwera będzie groziło permanentną blokadą.<br/>
      <b>12.</b> Administracja ma prawo do zbanowania bez podawania powodu, jeśli wcześniej niestosował się do regulaminu, niestosował się do próśb administracji będzie karany.<br/>
      <b>13.</b> Na serwerze należy przestrzegać <a href="https://discord.com/terms">TOS (Terms Of Service) Discord'a</a>. Nieprzestrzeganie go może skutkować banem.<br/>
  </div>
</main>
