<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main>
  <div class="navigate">
    <div class="name">
      <img src="assets/img/logo.png" height="75px" style="padding-top: 10px;"/>
    </div>
    <div class="navi">
      <a href="" class="item">Strona Główna</a>
      <a href="regulamin" class="item">Regulamin</a>
      <a href="mapa" class="item">Mapa</a>
      <a href="statystyki" class="item">Statystyki</a>
      <a href="https://dc.catze.pl" class="item">Discord</a>
    </div>
  </div>
  <div class="navigate-mobile">
    <div class="navi">
      <a href="" class="item"><fa-icon [icon]="faHome"></fa-icon></a>
      <a href="regulamin" class="item"><fa-icon [icon]="faBookOpen"></fa-icon></a>
      <a href="mapa" class="item"><fa-icon [icon]="faMap"></fa-icon></a>
      <a href="statystyki" class="item"><fa-icon [icon]="faChartBar"></fa-icon></a>
      <a href="https://dc.catze.pl" class="item"><fa-icon [icon]="faDiscord"></fa-icon></a>
    </div>
  </div>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
