<main>
  <div class="navigate">
    <div class="name">
      <img src="assets/img/logo.png" height="75px" style="padding-top: 10px;"/>
    </div>
    <div class="navi">
      <a href="" class="item" tabindex="1" id="index">Strona Główna</a>
      <a href="../regulamin" class="item" tabindex="2" id="regulamin">Regulamin</a>
      <a href="../mapa" class="item" tabindex="3" id="mapa">Mapa</a>
      <a href="../statystyki" class="item" tabindex="4" id="stats">Statystyki</a>
      <a href="https://dc.catze.pl" class="item" tabindex="5" id="discord">Discord</a>
    </div>
  </div>
  <div class="navigate-mobile">
    <div class="navi">
      <a href="" class="item" tabindex="1" id="index2"><fa-icon [icon]="faHome"></fa-icon></a>
      <a href="regulamin" class="item" tabindex="2" id="regulamin2"><fa-icon [icon]="faBookOpen"></fa-icon></a>
      <a href="mapa" class="item" tabindex="3" id="mapa2"><fa-icon [icon]="faMap"></fa-icon></a>
      <a href="statystyki" class="item" tabindex="4" id="stats2"><fa-icon [icon]="faChartBar"></fa-icon></a>
      <a href="https://dc.catze.pl" class="item" tabindex="5" id="discord2"><fa-icon [icon]="faDiscord"></fa-icon></a>
    </div>
  </div>
</main>
