<main class="info">
  <div class="info-head">
    <h1>Witaj na stronie Catze.pl</h1>
    <p style="font-size: 24px">Serwerze od graczy dla graczy</p>
    <br>
    <p>Jesteśmy serwerem który słucha graczy.<br>Wszystkie propozycje wysyłane przez graczy czytamy, a jeśli są one dobre to mogą być one wprowadzone. <br>Serwer jest nastawiony pod zabawę, a nie pod zysk. Chcemy, aby każdy dobrze się bawił i znalazł swoje miejsce na spokojne wieczory i nowe znajomości.</p>
    <br><br>
  </div>
</main>
<div class="info">
  <div class="serv-info">
    <h1>Informacje z serwera</h1>
    <div class="info-item">
      <h2>Strona</h2>
      <p>Strona została oficjalnie wypuszczona na światło dzienne!.</p>
      <p class="date-info">13/01/2022 12:30</p>
    </div>
    <div class="info-item">
      <h2>Stan strony</h2>
      <p>Niewiele rzeczy pozostało do zakończenia tworzenia strony. Ostatnie szlify po których strona będzie gotowa do publikacji.</p>
      <p class="date-info">12/01/2022 22:45</p>
    </div>
    <div class="info-item">
      <h2>Aktualny stan prac na serwerze</h2>
      <p>Aktualnie trwają prace końcowe nad stroną, a także trwają pracę nad pluginami. Wszelkie pomysły można wysyłać na <a href="https://forms.catze.pl">forms.catze.pl</a>. Z pewnością rozpatrzymy każdą podesłaną nam propozycję. Najciekawsze pomysły zostaną zaimplementowane na serwer.</p>
      <p class="date-info">12/01/2022 22:40</p>
    </div>
  </div>
</div>
