.info-head{
  text-align: center;
}
.serv-info {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}
.date-info{
  text-align: right;
  margin-right: 1rem;
  font-size: 14px;
}
p {
  font-size: 19px;
}
.info-item{
  //border: rgba(187, 187, 187, 0.42) 1px solid;
  text-shadow: rgba(0,0,0,0.62) 0px 0px 8px;
  padding: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  border-right: none;
  border-left: none;
  border-radius: 10px;
  background: rgba(187, 187, 187, 0.05);
  margin-bottom: 5px;
}
.info-item:last-of-type{
  border-bottom: none;
}
@media only screen and (max-width: 865px) {
  .serv-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .info-item{
    //border: rgba(187, 187, 187, 0.42) 1px solid;

  }
}
